.flashlight{
    cursor: url('/Cursor.svg'), auto;
    padding: 50px;
    border: 1px solid #ccc;
}

.custom-cursor {
    width: 600px;
    height: 600px;
    background-color: #FBFEFC;
    border: 2px solid #FBFEFC;
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    top: var(--cursor-y);
    left: var(--cursor-x);
    z-index: 1000;
}