//Modfied version of https://piccalil.li/blog/a-more-modern-css-reset/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  --main-padding: 1.5rem;
  --nav-padding: 1.5rem;
  // Stide Logo + Gap + DCo Logo + Padding
  --nav-height: calc(31px + 1rem + 1.5rem + 2 * var(--nav-padding));

  @media (min-width: 580px) {
    --main-padding: 2rem;
  }
  @media (min-width: $tablet-breakpoint) {
    --main-padding: 4rem;
  }
  @media (min-width: $desktop-breakpoint) {
    --main-padding: 7.5rem;
  }
}

* {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font, Arial, sans-serif;
  line-height: 100%;
  margin: 0;
}

h1 {
  font-size: $h1-size;
  font-style: italic;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

p {
  font-family: $p-font;
  font-size: $p-size;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
