.opportunities-section {
  margin-top: 3.5rem;
  display: grid;

  h2 {
    @media (min-width: $desktop-breakpoint) {
      margin-inline: auto;
      max-width: 780px;
      width: 100%;
      text-align: left;
    }
  }

  .opportunities-features {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    @media (min-width: 580px) {
      flex-direction: row;
      padding-top: 1rem;
    }

    @media (min-width: $desktop-breakpoint) {
      max-width: 1500px;
    }

    figure {
      max-width: 200px;
      margin-inline: auto;

      @media (min-width: 580px) {
        max-width: 35%;
      }

      &:first-child {
        rotate: -11deg;
        p {
          max-width: 13ch;
        }
      }

      &:nth-child(2) {
        rotate: 15deg;
      }

      &:nth-child(3) {
        rotate: -12deg;
      }
      .card-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;

        p {
          font-size: 35px;
          margin: 0;
        }
      }
    }
  }
}
