@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flashlight {
  z-index: 1000;
}

.flashlight-ring {
  z-index: 1000;
  scale: var(--flashlight-scale, 1);
  transform-origin: center;
  transform: translate(-50%, -50%) scale(var(--flashlight-scale, 1));

  &.custom-cursor {
    width: 50vh;
    height: 50vh;
    background-color: #fbfefc;
    border: 2px solid #fbfefc;
    border-radius: 100%;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    top: var(--cursor-y);
    left: var(--cursor-x);
    z-index: inherit;
    animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);
  }

  &.ring-inner {
    width: 61vh; /* Adjust size as needed */
    height: 61vh; /* Adjust size as needed */
    border: 50px solid #68dea3; /* Adjust thickness and color as needed */
    border-radius: 50%; /* Make it circular */
    position: fixed; /* Use fixed positioning */
    pointer-events: none; /* Ensure it doesn't interfere with cursor events */
    mix-blend-mode: lighten;
    top: var(--cursor-y);
    left: var(--cursor-x);
    z-index: inherit;
    animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);
  }

  &.ring-outer {
    width: 72vh; /* Adjust size as needed */
    height: 72vh; /* Adjust size as needed */
    border: 100px solid #16643d; /* Adjust thickness and color as needed */
    border-radius: 50%; /* Make it circular */
    position: fixed; /* Use fixed positioning */
    pointer-events: none; /* Ensure it doesn't interfere with cursor events */
    mix-blend-mode: lighten;
    top: var(--cursor-y);
    left: var(--cursor-x);
    z-index: inherit;
    animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);
  }
}
