@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .flashlight,
  .flashlight-ring {
    display: none;
  }
}

.flashlight {
  z-index: 15;
}

.flashlight-ring {
  z-index: 15;
  scale: var(--flashlight-scale, 1);
  transform-origin: center;
  transform: translate(-50%, -50%) scale(var(--flashlight-scale, 1));
  top: var(--cursor-y);
  left: var(--cursor-x);
  isolation: isolate;

  &.custom-cursor {
    width: 50vh;
    height: 50vh;
    background-color: #fbfefc;
    border-radius: 100%;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: inherit;
    animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);
  }

  &.fake-cursor {
    width: 50vh;
    height: 50vh;
    background-color: #fbfefc00;
    border-radius: 100%;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: lighten;
    z-index: inherit;
    animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      mix-blend-mode: lighten;
      z-index: inherit;
      animation: fadeIn 1s cubic-bezier(1, -0.21, 1, 1.63);
    }

    &::before {
      width: 60vh;
      height: 60vh;
      border: 5vh solid #68dea3;
      top: -5vh;
      left: -5vh;
      mix-blend-mode: lighten;
    }

    &::after {
      width: 70vh;
      height: 70vh;
      border: 10vh solid #16643d;
      top: -10vh;
      left: -10vh;
      mix-blend-mode: lighten;
    }
  }
}
