.registration-textfield-container {
  display: grid;
  gap: 0.5rem;
  font-size: 1.5rem;

  .error-message {
    height: var(--temp-fontsize);
    color: rgb(240, 88, 88);
    font-size: 14px;
  }

  label {
    margin-bottom: 0.2rem;
  }

  input {
    font-family: inherit;
    font-size: var(--temp-fontsize);
    padding: 0;
    background-color: transparent;
    border: none;
    outline-color: white;
    color: inherit;
    border-bottom: 1px solid white;
    padding-block: 0.25rem;
    outline: none;
    transition: border-bottom 0.3s;

    &::placeholder {
      color: $dark-gray;
    }

    &:focus {
      border-bottom: 1px solid $light-green;
    }
  }
}
