@media only screen and (min-width: 768px) {
  .about-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-container {
  margin-top: $nav-height;
  padding-inline: var(--main-padding);
  display: grid;
  gap: 1rem;

  h2 {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.2;

    @media (min-width: 320px) {
      font-size: 2rem;
    }

    @media (min-width: 400px) {
      max-width: 80%;
    }

    @media (min-width: 580px) {
      max-width: 65%;
    }

    @media (min-width: $tablet-breakpoint) {
      font-size: 4rem;
    }
  }

  .about-section {
    p {
      margin-top: 2rem;
    }

    @media only screen and (max-width: 469px) {
      .about-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    @media only screen and (max-width: 768px) {
      .about-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 200px;
          height: auto;
        }
      }
    }

    .about-images {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      padding-top: 5rem;

      img {
        position: relative;
        width: 400px;
        height: auto;
        border: 2px solid white;
        transform-origin: center center;
      }

      .image1 {
        transform: rotate(-15deg) translateX(-100px);
      }

      .image2 {
        transform: rotate(1deg) translateX(-45px) translateY(-5px);
      }

      .image3 {
        transform: rotate(10deg) translateX(20px) translateY(50px);
      }
    }
  }

  section {
    padding-block: 2rem;
  }

  .info,
  .section-title {
    margin-bottom: 2rem;
  }
}
