#mascot-badge-container {
  position: relative;
  height: 100%;
  width: 100%;

  #mascot-badge {
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    z-index: 1;
    aspect-ratio: 252/378;
    border: 2px solid white;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scale: 1;
    margin-inline: auto;
    max-width: 20.5rem;
    transform-origin: top;

    @media (min-width: $tablet-breakpoint) {
      max-width: 23rem;
      height: auto;
      max-height: 90%;
      animation: none;
      transform: translateY(0);
    }
    @media (min-width: $tablet-breakpoint) {
      animation: none;
      transform: translateY(0);
    }

    @media (min-width: $desktop-breakpoint) {
      max-width: 25rem;
    }

    @keyframes SlideUpAndScale {
      0% {
        transform: translateY(100%) scale(calc(1.1 * var(--badge-scale)));
      }
      50% {
        transform: translateY(-15%) scale(calc(1.1 * var(--badge-scale)));
      }
      100% {
        transform: translateY(0) scale(calc(0.95 * var(--badge-scale)));
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 50%;
      bottom: 0;
      background-color: transparent;
      margin-inline: auto;
      border: 8px solid rgb(0, 0, 0);
      border-radius: 0 0 23px 23px;
      border-top: none;
      position: absolute;
      z-index: 1;
    }

    .badge-top {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      padding-inline: 1rem;
      border-bottom: 3px solid white;

      .long-hole {
        // width: 3rem;
        width: 16%;
        height: 60%;
        border-radius: 24px;
        border: 2px solid white;
      }

      .short-hole {
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid white;
      }

      svg {
        width: 35%;
      }
    }

    .badge-center {
      padding: 8%;

      &-top {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        width: 100%;

        h2 {
          display: flex;
          flex-direction: column;
          font-style: italic;
          font-weight: 600;
          font-size: clamp(1rem, calc(1rem + 3vw), 2.2rem);
          // font-size: 130%;
          // padding-right: 10%;

          @media (min-width: $tablet-breakpoint) {
            font-size: 2.2rem;
          }
        }

        #badge-pronouns-container {
          display: flex;
        }

        p {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1.5rem;
          padding-right: 0;
          font-size: clamp(0.7rem, 0.65rem + 2.3vw, 1.4rem);

          @media (min-width: $tablet-breakpoint) {
            padding-left: 1.5rem;
            // font-size: 1.5rem;
            padding-left: 2.5rem;
          }
        }
      }

      #horizontal-dotted-bar {
        margin-block: 1rem;
      }

      &-center {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        gap: 1rem;

        #empty-qr-code {
          width: 55%;
          aspect-ratio: 1;
          border: 2px dashed $white;
        }

        .badge-code {
          flex: 1;
          svg {
            width: 55%;
            height: auto;

            @media (min-width: $tablet-breakpoint) {
              width: 60%;
            }
          }
        }

        p {
          flex: 1;
          font-weight: 400;
          text-align: right;
          font-size: clamp(0.65rem, calc(0.6rem + 2.1vw), 1.2rem);

          // @media (min-width: $tablet-breakpoint) {
          //   font-size: 1.25rem;
          // }
        }
      }
    }

    .badge-bottom {
      height: 100%;
      z-index: -1;
      position: relative;
    }
  }
}
