#about-register-button {
  border: none;
  svg {
    fill: none;

    &:hover,
    &:focus {
      #about-register-button-border {
        stroke: #6ee7b7;
      }

      #about-register-button-text {
        fill: #6ee7b7;
      }
    }

    &:active {
      fill: #6ee7b7;

      #about-register-button-border {
        stroke: #6ee7b7;
      }

      #about-register-button-text {
        fill: black;
      }
    }

    #about-register-button-border {
      stroke: white;
    }

    #about-register-button-text {
      fill: white;
    }
  }
}
