#register-section {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 780px;
  padding-bottom: 5rem;
  #register-button-link {
    display: grid;
    place-items: center;
    width: 100%;
    rotate: -7.33deg;

    #about-register-button {
      margin-inline: auto;
      border: none;
      background-color: transparent;
      cursor: $hover-cursor;
      width: 100%;

      @media (min-width: 400px) {
        max-width: 350px;
      }

      @media (min-width: $tablet-breakpoint) {
        margin-top: 1rem;

        max-width: 500px;
      }

      #register-button-container {
        overflow: visible;
        color: white;
        text-transform: uppercase;
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;

        p {
          font-size: 5rem;
          font-weight: 600;
          font-style: italic;
        }
      }

      svg {
        fill: none;

        #about-register-button-border,
        p {
          transition: stroke 0.3s;
        }

        &:is(:hover, :focus) {
          #about-register-button-border {
            stroke: #6ee7b7;
          }

          #register-button-container {
            p {
              color: #6ee7b7;
            }
          }
        }

        &:active {
          fill: #6ee7b7;

          #about-register-button-border {
            stroke: #6ee7b7;
          }

          #register-button-container {
            p {
              color: black;
            }
          }
        }

        #about-register-button-border {
          stroke: white;
        }
      }
    }
  }
}
