.mascot-container {
  position: relative;
  display: grid;
  width: fit-content;
  height: fit-content;

  svg {
    overflow: visible;
  }

  #mascot-hat {
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    left: 0;
    right: 0;
    margin-inline: auto;
  }
}
