.agenda-section {
  display: flex;
  flex-direction: column;

  .agenda-text {
    font-size: 30px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 468px) {
  .mobile-agenda-card {
    display: block;
  }

  .mobile-title {
    font-size: 15px;
  }

  .agenda-card {
    display: none;
  }

  .mobile-agenda-text {
    margin-right: 25%;
    font-size: 1px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-inline: auto;
    margin-block: 22.5%;
    max-width: 85%;

    td {
      border: 2px solid #ffffff;
      text-align: center;
      font-size: 20px;
      color: #ffffff;
      padding-block: 1.25rem;
    }
  }
}

/* Laptop and Tablet Breakpoints */
@media (min-width: 768px) {
  .mobile-agenda-card {
    display: none;
  }

  .agenda-card {
    transform: translateY(40px) rotate(-5deg);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-inline: auto;
    margin-block: 15%;
    max-width: 85%;
    transform: rotate(-0.5deg);

    td {
      border: 2px solid #ffffff;
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      padding-block: 1.5rem;
    }
  }
}
