#agenda-section {
  @media (min-width: $tablet-breakpoint) {
    margin-top: 5rem;
  }

  h2 {
    @media (min-width: $desktop-breakpoint) {
      max-width: 780px;
      margin-inline: auto;
    }
  }
  #mobile-agenda-svg-container {
    margin-top: -2rem;
    margin-inline: auto;
    scale: 1.25;

    @media (min-width: 400px) {
      margin-top: -4.5rem;
      scale: 1;
    }

    @media (min-width: 580px) {
      max-width: 80%;
    }

    @media (min-width: 680px) {
      max-width: 530px;
    }

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
    #mobile-agenda-content {
      rotate: -4deg;
      padding-inline: 2rem;
      padding-top: 1rem;

      h3 {
        font-size: 1.5rem;
        font-style: italic;
        max-width: 80%;
        margin-bottom: 1rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        td {
          border: 2px solid #ffffff;
          text-align: center;
          font-size: 25px;
          color: #ffffff;
          padding-block: 1rem;

          p {
            text-align: left;
            padding-left: 1rem;
            font-size: 1rem;
          }
        }
      }

      > p {
        margin-top: 1rem;
      }
    }
  }

  #desktop-agenda-svg-container {
    display: none;
    rotate: -4deg;

    @media (min-width: $tablet-breakpoint) {
      display: block;

      max-width: 1350px;
      margin-inline: auto;

      #desktop-agenda-content {
        padding-top: 8rem;

        h3 {
          font-size: 2.5rem;
          font-style: italic;
          margin-bottom: 2.5rem;
          margin-inline: auto;
          text-align: center;
        }

        table {
          width: 82%;
          margin-inline: auto;
          border-collapse: collapse;

          td {
            border: 2px solid #ffffff;
            font-size: 25px;
            color: #ffffff;
            padding-block: 1rem;

            &:first-child {
              width: 40%;

              p {
                text-align: center;
                padding-left: 0;
              }
            }

            p {
              text-align: left;
              padding-left: 5.5rem;
              font-size: 1.75rem;
            }
          }
        }

        > p {
          text-align: center;
          font-size: 1.75rem;
          margin-top: 3.5rem;
        }
      }
    }
  }
}
