#agenda-section {
  #mobile-agenda-svg-container {
    rotate: -4deg;

    @media (min-width: 580px) {
      max-width: 450px;
      margin-inline: auto;
    }

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
    #mobile-agenda-content {
      padding: 2rem 1rem;

      h3 {
        font-size: 1.5rem;
        font-style: italic;
        max-width: 80%;
        margin-bottom: 1rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        td {
          border: 2px solid #ffffff;
          text-align: center;
          font-size: 25px;
          color: #ffffff;
          padding-block: 1rem;

          p {
            text-align: left;
            padding-left: 1rem;
            font-size: 0.8rem;
          }
        }
      }

      > p {
        margin-top: 1rem;
      }
    }
  }

  #desktop-agenda-svg-container {
    rotate: -4deg;
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
      max-width: 885px;
      margin-inline: auto;

      #desktop-agenda-content {
        padding: 5rem 1rem;

        h3 {
          font-size: 2rem;
          font-style: italic;
          max-width: 80%;
          margin-bottom: 2rem;
          margin-inline: auto;
          text-align: center;
        }

        table {
          width: 80%;
          margin-inline: auto;
          border-collapse: collapse;

          td {
            border: 2px solid #ffffff;
            font-size: 25px;
            color: #ffffff;
            padding-block: 1rem;

            &:first-child {
              p {
                text-align: center;
                padding-left: 0;
              }
            }

            p {
              text-align: left;
              padding-left: 5rem;
              font-size: 1.2rem;
            }
          }
        }

        > p {
          text-align: center;
          font-size: 1.2rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
