// * {
//   outline: 2px solid lime;
// }

//not sure if this is bad practice
body {
  cursor: url('../../public/images/cursors/Cursor.svg'), auto;
  padding: 50px;
  border: 1px solid #ccc;
}

a,
button {
  cursor: url('../../public/images/cursors/Cursor-hover.svg'), auto;
}

:root {
  --folder-width: 80vw;
  --folder-height: 50vh;
}

#folder {
  position: relative;
  width: calc(var(--folder-height) * 1.411);
  //   outline: 2px solid red;
  perspective: 800px;

  > img {
    position: absolute;
  }
  &:hover {
    cursor: (url('../../public/images/cursors/Cursor-hover.svg'), auto);
  }
}

#folder-back {
  width: auto;
  bottom: 0;
  z-index: 1;
}
#folder-bottom {
  width: auto;
  bottom: 0;
  z-index: 3;
}

#folder,
#folder-back {
  height: var(--folder-height);
}

#folder-bottom,
#page-folder-bottom {
  height: calc(var(--folder-height) * 0.6848);
  width: auto;
}

#folder-flap {
  height: calc(var(--folder-height) * 0.3384);
  background-size: 100% 100%;
  background-image: url('/images/folder/flat-folder-flap-front.svg');
  transform-origin: center top;
  position: relative;
  transform-style: preserve-3d;
  z-index: 3;

  > div {
    position: absolute;
    inset: 0;
    background: url('/images/folder/flat-folder-flap-back.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% auto;
    backface-visibility: hidden;
    transform: rotateX(180deg);
  }
}

.page-asset {
  position: absolute;
  display: none;
  width: auto;
  //   outline: 2px solid red;
  z-index: 1;
}

.folder-asset {
  position: absolute;
  width: auto;
  z-index: 1;
}

#badge,
#folder-badge {
  height: calc(var(--folder-height) * 0.524);
}
#feather,
#folder-feather {
  height: calc(var(--folder-height) * 0.424);
}
#main-content,
#folder-main-content {
  height: calc(var(--folder-height) * 0.373);
}
#polaroid,
#folder-polaroid {
  height: calc(var(--folder-height) * 0.349);
}
#orgs,
#folder-orgs {
  height: calc(var(--folder-height) * 0.565);
}
#companies,
#folder-companies {
  height: calc(var(--folder-height) * 0.402);
}
#magnifying-glass,
#folder-magnifying-glass {
  height: calc(var(--folder-height) * 0.884);
}
#cards,
#folder-cards {
  height: calc(var(--folder-height) * 0.353);
}

// TODO: DELETE LATER
// #badge {
//   bottom: 15%;
//   right: -3%;
//   transform: rotate(-11deg);
// }
// #feather {
//   top: 0;
//   right: 40%;
//   transform: rotate(10deg);
// }
// #main-content {
//   bottom: 30%;
//   right: 50%;
//   transform: translateX(50%);
// }
// #polaroid {
//   top: 0;
//   right: 55%;
// }
// #orgs {
//   bottom: 5%;
//   left: 1%;
//   transform: rotate(42deg);
// }
// #companies {
//   top: 28%;
//   right: 3%;
//   transform: rotate(-30deg);
// }
// #magnifying-glass {
//   left: 0%;
//   bottom: 25%;
//   transform: rotate(54deg);
// }
// #cards {
//   top: 32%;
//   left: 8%;
// }

/* folder asset positions */
#folder-badge {
  top: 15%;
  right: 5%;
}
#folder-feather {
  top: 18%;
  right: 30%;
}
#folder-main-content {
  bottom: 10%;
  right: 27%;
}
#folder-polaroid {
  top: 18%;
  right: 41%;
}
#folder-orgs {
  top: 15%;
  right: 11%;
}
#folder-companies {
  bottom: 2%;
  right: 7%;
}
#folder-magnifying-glass {
  left: 5%;
  bottom: 5%;
}
#folder-cards {
  top: 27%;
  left: 14%;
}

#click-to-open-text {
  color: white;
  font-size: 24px;
  text-align: center;
}

#paper-border-top-left,
#paper-border-bottom-right,
#paper-border-top-edge,
#paper-border-bottom-edge {
  position: absolute;
  z-index: 4;
  height: auto;
}

#paper-border-top-left {
  width: calc(var(--folder-height) * 0.5);
  top: -1%;
  left: -1%;
}
#paper-border-bottom-right {
  width: calc(var(--folder-height) * 0.4);
  bottom: 0;
  right: 0;
}
#paper-border-top-edge {
  width: calc(var(--folder-height) * 0.8);
  top: 0;
  right: 0;
}
#paper-border-bottom-edge {
  width: calc(var(--folder-height) * 0.7);
  bottom: 0;
  left: 30%;
}

/* Styles for landscape screens (aspect ratio greater than 1) */
@media (max-aspect-ratio: 1/1) {
  #folder {
    height: calc(var(--folder-width) * 0.708);
  }

  #folder-back {
    height: auto;
  }
  #folder-bottom {
    height: auto;
    z-index: 2;
  }

  #folder,
  #folder-back,
  #folder-bottom,
  #folder-flap {
    width: var(--folder-width);
  }

  #folder-flap {
    height: calc(var(--folder-width) * 0.24);
  }

  #badge,
  #feather,
  #main-content,
  #polaroid,
  #orgs,
  #companies,
  #magnifying-glass,
  #cards {
    height: auto;
  }

  #badge {
    width: calc(var(--folder-width) * 0.258);
    transform: translate(65%, -125%) rotate(12deg);
  }
  #feather {
    width: calc(var(--folder-width) * 0.354);
    transform: translate(-40%, -200%) rotate(-22.5deg);
  }
  #main-content {
    width: calc(var(--folder-width) * 0.54);
    transform: translate(-58%, -60%) rotate(-5deg);
  }
  #polaroid {
    width: calc(var(--folder-width) * 0.176);
    transform: translate(-90%, -200%) rotate(-21deg);
  }
  #orgs {
    width: calc(var(--folder-width) * 0.344);
    transform: translate(20%, -140%) rotate(-46deg);
  }
  #companies {
    width: calc(var(--folder-width) * 0.351);
    transform: translate(35%, -70%) rotate(29deg);
  }
  #magnifying-glass {
    width: calc(var(--folder-width) * 0.408);
    transform: translate(-130%, -75%);
  }
  #cards {
    width: calc(var(--folder-width) * 0.35);
    transform: translate(-110%, -140%) rotate(8deg);
  }

  #paper-border-top-left {
    width: calc(var(--folder-width) * 0.4);
    top: -3%;
    left: -2%;
  }
  #paper-border-bottom-right {
    width: calc(var(--folder-width) * 0.4);
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
  }
  #paper-border-top-edge {
    width: calc(var(--folder-width) * 0.8);
    top: 0;
    right: 0;
  }
  #paper-border-bottom-edge {
    width: calc(var(--folder-width) * 0.7);
    bottom: 0;
    right: 0;
  }
}
