// * {
//   outline: 2px solid lime;
// }

//not sure if this is bad practice
body {
  cursor: url('../../public/images/cursors/Cursor.svg'), auto;
}

a,
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='range'],
input[type='file'],
input[type='checkbox'],
input[type='date'],
label,
select,
summary {
  cursor: url('../../public/images/cursors/Cursor-hover.svg'), auto;
}

:root {
  --folder-width: 80vw;
  --folder-height: 50vh;
  --svg-scale: 3;
}

#page-container {
  background-color: black;
  //   display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 3rem;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

#folder {
  position: relative;
  width: calc(var(--folder-height) * 1.411);
  perspective: 800px;

  > img {
    position: absolute;
  }
  &:hover {
    cursor: (url('../../public/images/cursors/Cursor-hover.svg'), auto);
  }
}

#folder-back {
  width: auto;
  bottom: 0;
  z-index: 1;
}
#folder-bottom {
  width: auto;
  bottom: 0;
  z-index: 3;
}

#folder,
#folder-back {
  height: var(--folder-height);
}

#folder-bottom,
#page-folder-bottom {
  height: calc(var(--folder-height) * 0.6848);
  width: auto;
}

#folder-flap {
  height: calc(var(--folder-height) * 0.3384);
  background-size: 100% 100%;
  background-image: url('/images/folder/flat-folder-flap-front.svg');
  transform-origin: center top;
  position: relative;
  transform-style: preserve-3d;
  z-index: 3;

  > div {
    position: absolute;
    inset: 0;
    background: url('/images/folder/flat-folder-flap-back.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% auto;
    backface-visibility: hidden;
    transform: rotateX(180deg);
  }
}

.page-asset {
  position: absolute;
  display: none;
  width: auto;
  z-index: 1;
}

.folder-asset {
  position: absolute;
  width: auto;
  z-index: 1;
}

#badge,
#folder-badge {
  height: calc(var(--folder-height) * 0.524);
}
#feather,
#folder-feather {
  height: calc(var(--folder-height) * 0.43);
}
#main-content,
#folder-main-content {
  height: calc(var(--folder-height) * 0.43);
}
#polaroid,
#folder-polaroid {
  height: calc(var(--folder-height) * 0.351);
}
#orgs,
#folder-orgs {
  height: calc(var(--folder-height) * 0.45);
}
#companies,
#folder-companies {
  height: calc(var(--folder-height) * 0.48);
}
#magnifying-glass,
#folder-magnifying-glass {
  height: calc(var(--folder-height) * 0.884);
}
#cards,
#folder-cards {
  height: calc(var(--folder-height) * 0.36);
}

/* folder asset positions */
#folder-badge {
  top: 15%;
  right: 5%;
}
#folder-feather {
  top: 18%;
  right: 30%;
}
#folder-main-content {
  top: 50%;
  right: 27%;
}
#folder-polaroid {
  top: 18%;
  right: 41%;
}
#folder-orgs {
  top: 28%;
  left: 55%;
}
#folder-companies {
  top: 50%;
  right: 7%;
}
#folder-magnifying-glass {
  top: 9%;
  left: 2%;
}
#folder-cards {
  top: 27%;
  left: 14%;
}

#click-to-open-text {
  color: white;
  font-size: 24px;
  text-align: center;
}

.paper-border {
  position: absolute;
  z-index: 4;
  height: auto;
}

#paper-border-top-left {
  top: -5px;
  left: 0;
}
#paper-border-bottom-right {
  bottom: 0;
  right: 0;
}
#paper-border-top-edge {
  top: 0;
  right: 2%;
}
#paper-border-bottom-edge {
  bottom: -10px;
  left: 30%;
}

/* Styles for vertical screens (aspect ratio less than 1) */
@media (max-aspect-ratio: 1/1) {
  #folder {
    height: calc(var(--folder-width) * 0.708);
  }

  #folder-back {
    height: auto;
  }
  #folder-bottom {
    height: auto;
    z-index: 2;
  }

  #folder,
  #folder-back,
  #folder-bottom,
  #page-folder-bottom,
  #folder-flap {
    width: var(--folder-width);
  }

  #folder-flap {
    height: calc(var(--folder-width) * 0.24);
  }

  #folder > .folder-asset {
    height: auto;
  }

  #badge,
  #feather,
  #main-content,
  #polaroid,
  #orgs,
  #companies,
  #magnifying-glass,
  #cards,
  #page-folder-bottom {
    height: auto;
    scale: calc(1 / var(--svg-scale));
  }

  .folder-asset {
    scale: calc(1 / var(--svg-scale));
  }

  #page-folder-bottom {
    scale: none;
  }

  #badge,
  #folder-badge {
    width: calc(var(--folder-width) * 0.311 * var(--svg-scale));
    transform-origin: top right;
  }
  #feather,
  #folder-feather {
    width: calc(var(--folder-width) * 0.269 * var(--svg-scale));
    transform-origin: top right;
  }
  #main-content,
  #folder-main-content {
    width: calc(var(--folder-width) * 0.572 * var(--svg-scale));
    transform-origin: top right;
  }
  #polaroid,
  #folder-polaroid {
    width: calc(var(--folder-width) * 0.234 * var(--svg-scale));
    transform-origin: top right;
  }
  #orgs,
  #folder-orgs {
    width: calc(var(--folder-width) * 0.326 * var(--svg-scale));
    transform-origin: top left;
  }
  #companies,
  #folder-companies {
    width: calc(var(--folder-width) * 0.352 * var(--svg-scale));
    transform-origin: top right;
  }
  #magnifying-glass,
  #folder-magnifying-glass {
    width: calc(var(--folder-width) * 0.297 * var(--svg-scale));
    transform-origin: top left;
  }
  #cards,
  #folder-cards {
    width: calc(var(--folder-width) * 0.36 * var(--svg-scale));
    transform-origin: top left;
  }

  #paper-border-top-left {
    top: 0;
    left: auto;
    right: -20px;
    transform: scaleX(-1);
  }
  #paper-border-bottom-right {
    bottom: -5px;
    left: -7px;
    transform: scaleX(-1);
  }
  #paper-border-top-edge {
    top: 0;
    right: 40%;
  }
  #paper-border-bottom-edge {
    scale: 0.7;
    bottom: -10px;
    right: 0;
  }
}
