@use '../form_var' as *;

#form-step4 {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;

  &-text {
    opacity: 0;
    animation: FadeIn 0.8s 0.9s forwards;

    @media (min-width: $tablet-breakpoint) {
      opacity: 1;
      animation: none;
    }

    p {
      &:first-child {
        margin-bottom: 1rem;
      }

      @media (min-width: $tablet-breakpoint) {
        font-size: 1.5rem;
      }
    }

    span {
      color: $dark-green;
    }

    @keyframes FadeIn {
      100% {
        opacity: 1;
      }
    }
  }

  #mascot-badge-container {
    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
}
