#navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  top: 0;

  #dco-logo {
    display: none;
  }

  &.home {
    #nav-logo-container {
      #dco-logo {
        display: block;
      }

      #nav-logo-current-page {
        svg {
          width: 260px;
        }

        p {
          display: none;
        }
      }

      #nav-button-container #register-button {
        @media (min-width: $desktop-breakpoint) {
          padding: 1.125rem 2rem;
        }
      }

      @media (min-width: $tablet-breakpoint) {
        padding: 4rem;
      }
    }
  }

  #nav-logo-container {
    display: grid;
    gap: 10px;
    text-decoration: none;

    #nav-logo-current-page {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      svg {
        width: 130px;
      }

      @media (min-width: $tablet-breakpoint) {
        flex-direction: row;
        align-items: center;

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  #nav-button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: $p-font;
    font-weight: 500;
    font-size: 1.25rem;

    a {
      border-radius: 48px;
      border: 2px solid $white;
      display: flex;
      align-items: center;
    }

    #about-button {
      gap: 5px;
      padding: 6px;
      padding-left: 10px;
      padding-right: 12px;

      @media (min-width: $desktop-breakpoint) {
        gap: 10px;
        padding: 6px;
        padding-left: 10px;
        padding-right: 12px;
      }
    }

    #register-button {
      background-color: $white;
      color: black;
      text-transform: uppercase;
      padding: 6px;
      padding-inline: 1rem;
    }

    a {
      text-decoration: none;
    }

    .longer-about-text {
      display: none;

      @media (min-width: $tablet-breakpoint) {
        display: block;
      }
    }
  }

  #nav-home-button-container {
    display: none;

    @media (min-width: 580px) {
      display: flex;
    }
  }
}
