#companies-svg-container {
  position: relative;
  width: 100%;
  height: 100%;

  @media (min-width: 580px) {
    max-width: 80%;
  }

  @media (min-width: 680px) {
    max-width: 530px;
  }

  @media (min-width: $tablet-breakpoint) {
    max-width: 1000px;
    width: 100%;
  }

  margin-inline: auto;

  #about-companies-svg {
    overflow: visible;
    margin-block: 3rem;
    scale: 1.25;
    margin-left: 1rem;

    @media (min-width: 400px) {
      margin-block: auto;
      margin-top: -2rem;
      scale: 1;
    }

    @media (min-width: $tablet-breakpoint) {
      max-width: 1000px;
      margin-inline: auto;
    }

    #companies-top-duck {
      @media (min-width: 400px) {
        display: none;
      }
    }

    #companies-right-side-duck {
      display: none;

      @media (min-width: 400px) {
        display: block;
      }
    }

    #about-companies-content-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      gap: 1.5rem;

      @media (min-width: $tablet-breakpoint) {
        justify-content: flex-start;
        padding-top: 1.5rem;
        gap: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @media (min-width: $tablet-breakpoint) {
          font-size: 0.8rem;
        }
      }

      .about-company-pill-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 10px;

        @media (min-width: $tablet-breakpoint) {
          column-gap: 6px;
          row-gap: 5px;
        }

        .about-company-pill {
          cursor: $hover-cursor;
          font-size: 1rem;
          border-radius: 30px;
          border: 2px solid $white;
          background-color: transparent;
          color: $white;
          padding-inline: 0.5rem;
          padding-top: 0.25rem;
          padding-bottom: 0.2rem;
          transition:
            color 0.15s,
            background-color 0.15s,
            border-color 0.15s;

          @media (min-width: $tablet-breakpoint) {
            &.active {
              background-color: $light-green;
              border-color: $light-green;
              color: black;
            }
          }

          &:is(:hover, .focus-visible) {
            background-color: black;
            border-color: $light-green;
            color: $light-green;
          }

          @media (min-width: $tablet-breakpoint) {
            border: 1px solid $white;
            font-size: 0.45rem;
          }
        }
      }

      #about-company-info {
        display: none;
        @media (min-width: $tablet-breakpoint) {
          display: block;
          padding-block: 1rem;
          padding-inline: 0.5rem;
          height: 100%;
          max-height: 100%;
          border: 1px solid $white;

          h3 {
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 0.45rem;
          }
        }
      }
    }
  }

  #company-logo-polaroid {
    display: none;
    @media (min-width: $tablet-breakpoint) {
      display: block;
      position: absolute;
      width: 30%;
      bottom: -10%;
      right: 15%;
      max-width: 300px;

      img {
        padding: 2rem;
        rotate: 4.5deg;
      }
    }
  }
}
